/* ---- Ajax Search Block Styling ---- */
.wcz-ajax-search-block {
  margin: 0 auto 25px;
  position: relative;
}
.wcz-ajax-search-block form {
  display: flex;
}
.wcz-ajax-search-block .wcz-s {
  flex: 1;
}
.wcz-ajax-search-block .wcz-s-submit {
  flex: 0.1;
}
.wcz-as-loading {
  min-height: 100px;
  background-image: url(../../images/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

/* ---- Search Results Block --- */
.wcz-search-results-block {
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 8%);
  background-color: #fff;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 2px;
  right: 2px;
  z-index: 999;
}

.wcz-ajaxsearch-result {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: inherit !important;
}
.wcz-ajaxsearch-result:last-child {
  box-shadow: none;
}
.wcz-ajaxsearch-result-img {
  max-width: 38px;
}
.wcz-ajaxsearch-result-img img {
  display: block;
  margin: 0;
}
.wcz-ajaxsearch-result-cont {
  flex: 1;
  padding: 0 10px;
}
.wcz-ajaxsearch-result-cont h6 {
  margin: 0 0 3px;
  padding: 0;
  font-size: 16px;
  line-height: 1.2;
}
.wcz-ajaxsearch-result-cont h6 span {
  font-size: 12px;
  line-height: 1.2;
  opacity: 0.45;
}
.wcz-ajaxsearch-result-meta {
  max-width: fit-content;
  font-size: 11px;
  text-align: right;
}
body.wcz-woocommerce span.wcz-ajaxsearch-result-sale {
  display: inline-block;
  padding: 5px 8px 4px;
  border-radius: 3px;
  min-width: initial;
  min-height: auto;
  position: relative;
  line-height: 1;
  top: auto;
  left: auto;
  margin: 0 auto;
  font-size: inherit;
  font-weight: 400;
  height: auto;
  width: auto;
}
.wcz-ajaxsearch-result-cats {
  opacity: 0.55;
  margin: 3px 2px 0 0;
}
.wcz-ajaxsearch-result-desc {
  opacity: 0.55;
  font-size: 11px;
  line-height: 1.2;
}
body.wcz-woocommerce span.wcz-ajaxsearch-result-soldout {
  display: inline-block;
  color: #f00;
  opacity: 1;
  text-transform: uppercase;
}
